:root{
    --color:red;
    --fondocolor:crimson;
    --anchoglobal:100vw;
    --altoglobal:100vh;
    --anchoCubo:200px;
    --altoCubo:200px;

    /*
        Colores alternos
    
    */
    --colorCubo:red;
    /*
        cajas
    */
    --anchoCaja:100%;
    --altoCaja:100%;
    
    /*
        variables para el caja dragon
    
    */
    --altocajadragon:250px;
    --anchocahadragon:100vh;
    --colorDragon:red;
    /*
        variables para cuerpo de dragon
    */
    
    
}

.cubo{
    width: var(--anchoCubo);
    height: var(--altoCubo);
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    animation: cubito 6s infinite  linear;
    animation-direction: alternate-reverse;
        
}

.caja{
    position: absolute;
    width: var(--anchoCaja);
    height: var(--altoCaja);
   
   display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 5px;
    background-color: white;
    border: 3px solid white;
}

.caja:nth-child(1){    
          
    transform: translateX(50%)rotateY(-90deg);
}
.caja:nth-child(2){
    
    transform: translateY(-50%)rotateX(90deg);
}
.caja:nth-child(3){
    
    transform: translateZ(-100px);
    
}
.caja:nth-child(4){
    
    transform:translateX(-50%)rotateY(-90deg);
}
.caja:nth-child(5){
    
    transform: translateY(50%)rotateX(-90deg);
    
}
.caja:nth-child(6){
     
    transform: translateZ(100px);
    
}  
.caja:nth-child(1) .cajainterior{
    background-color: blue;
}
.caja:nth-child(2) .cajainterior{
    background-color: red;
}
.caja:nth-child(3) .cajainterior{
    background-color:green;
}
.caja:nth-child(4) .cajainterior{
    background-color: white;
}
.caja:nth-child(5) .cajainterior{
    background-color: yellow;
}
.caja:nth-child(6) .cajainterior{
    background-color: orange;
        
}

.caja:nth-child(1) .cajainterior:nth-child(odd){
    background-color: blue;
}
.caja:nth-child(1) .cajainterior:nth-child(2n+2){
    background-color: red;
}
.caja:nth-child(1) .cajainterior:nth-child(3n+4){
    background-color: green;
}

.caja:nth-child(2) .cajainterior:nth-child(even){
    background-color: yellow;
}
.caja:nth-child(2) .cajainterior:nth-child(2n+3){
    background-color: red;
}
.caja:nth-child(2) .cajainterior:nth-child(3n+4){
    background-color: blue;
}

.caja:nth-child(3) .cajainterior:nth-child(odd){
    background-color: white;
}
.caja:nth-child(3) .cajainterior:nth-child(2n+2){
    background-color: red;
}
.caja:nth-child(3) .cajainterior:nth-child(3n+4){
    background-color: yellow;
}


.caja:nth-child(4) .cajainterior:nth-child(odd){
    background-color: yellow;
}
.caja:nth-child(4) .cajainterior:nth-child(2n+3){
    background-color: red;
}
.caja:nth-child(4) .cajainterior:nth-child(2n+3){
    background-color: green;
}

.caja:nth-child(5) .cajainterior:nth-child(odd){
    background-color: blue;
}
.caja:nth-child(5) .cajainterior:nth-child(2n+2){
    background-color: red;
}
.caja:nth-child(5) .cajainterior:nth-child(3n+4){
    background-color: green;
}


.caja:nth-child(6) .cajainterior:nth-child(odd){
    background-color: orange;
}
.caja:nth-child(6) .cajainterior:nth-child(2n+1){
    background-color: red;
}
.caja:nth-child(6) .cajainterior:nth-child(3n+4){
    background-color: green;
}



.caja:nth-child(6) .cajainterior{
    z-index: 10;
}
/*
.caja:nth-child(1) .cajainterior:nth-child(odd){   background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://payload.cargocollective.com/1/0/14225/5857972/horse_cowboy.gif);
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}

.caja:nth-child(1) .cajainterior:nth-child(even){
    background-image: url(https://thumbs.gfycat.com/ScalyFatalAyeaye-small.gif);
     background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}

.caja:nth-child(2) .cajainterior:nth-child(odd){   background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://static.giantbomb.com/uploads/original/0/409/587103-hevy.gif);
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}

.caja:nth-child(2) .cajainterior:nth-child(even){
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgYwFVRJSp7MPQmQAOV6jUcndQtS8WW2BZczJP7blTiCy16a0q);
     background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}

.caja:nth-child(3) .cajainterior:nth-child(odd){   background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://media0.giphy.com/media/FmFuy3apLK4zm/giphy.gif);
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}

.caja:nth-child(3) .cajainterior:nth-child(even){
    background-image: url(https://i.imgur.com/j0DbrSb.gif?noredirect);
     background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}

.caja:nth-child(4) .cajainterior:nth-child(odd){   background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/3bf55519231983.562d73a014e72.gif);
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}

.caja:nth-child(4) .cajainterior:nth-child(even){
    background-image: url(https://cdn.dribbble.com/users/150149/screenshots/4512192/thanospixel.gif);
     background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}


.caja:nth-child(5) .cajainterior:nth-child(odd){   background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://i.pinimg.com/originals/13/5f/ae/135fae39589d0b363f5388372db8132a.gif);
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}

.caja:nth-child(5) .cajainterior:nth-child(even){
    background-image: url(https://thumbs.gfycat.com/CourteousAngryAntarcticfurseal-size_restricted.gif);
     background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}



.caja:nth-child(6) .cajainterior:nth-child(odd){   background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://i.pinimg.com/originals/e5/ed/fe/e5edfe1c50f45d9858e99de0d890606a.gif);
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}

.caja:nth-child(6) .cajainterior:nth-child(even){
    background-image: url(https://i.gifer.com/JGmz.gif);
     background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    object-fit: cover;
    z-index: 1000;
}
*/

@keyframes cubito{
    to{
        transform: rotateX(0deg);
    }
    from{
     		transform:rotateX(450deg) rotatey(650deg)rotateZ(645deg)
    }
}